<div class="main">
  <div class="container">
    <form  [formGroup]="formMensaje" (ngSubmit)="onSubmitForm()">
        <mat-form-field appearance="outline" class="col-md-6 mb-4">
            <mat-label>Firt Name</mat-label>
            <input matInput placeholder="Insert your Name" formControlName="name">
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="col-md-6 mb-4">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Insert your Last Name" formControlName="lastName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-12 mb-4">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="email@examle.com" formControlName="email">
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-md-12 mb-4">
            <mat-label>Message</mat-label>
            <textarea matInput formControlName="message"></textarea>
          </mat-form-field>
          <div class="d-flex justify-content-center">
            <button type="submit" mat-raised-button color="primary" [disabled]="formMensaje.invalid" class="col-md-4">Send</button>
          </div>

          <div class="d-flex justify-content-center p-3">
            <button type="button" class="col-md-4 btn btn-success" (click)="onButtonClicked('Contact')" [disabled]="formMensaje.invalid">Contact</button>
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="col-md-4 btn btn-danger" (click)="onButtonClicked('Report')" [disabled]="formMensaje.invalid">Report</button>
          </div>
          

      </form>
      
</div>
</div>